body {
    background-color: var(--background);
    color: var(--white);
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    background-image: url("../img/darkwood.jpg");
    min-width: 100%;
    min-height: 100%;;
    margin: 0;
}