.font_regular {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: var(--white);
  }

  .font_handwritten {
    font-family: 'Homemade Apple', cursive;
    font-size: 26px;
    color: var(--white);
  }

