.landingpage {
    display: flex;
    justify-content: center;
}

.beautyBanner {
    position: relative;
    width: 25vw;
    margin-top: 2vw;
}

.darkwoodBackground {
    position: fixed;
    opacity: 0.4;
    min-width: 100%;
    min-height: 100%;
}